.nav-item:hover {
    transform: translateY(-2px);
    transition: 0.5s;
}

.nav-item {
    transition: 0.5s;
}

.post {
    margin-bottom: 2rem;
}

.post:hover {
    /*cursor: pointer;*/
    .post-body {
        transition: 0.5s;
        background-color:rgba(77, 201, 153, 0.3);
    }
}

.card-body {
    transition: 0.5s;
}

.vote
{
    margin-left: 0.5rem;
    margin-right: 1rem;
    gap: 0.5rem;
    width: 15px;
    display: flex;
}

.vote img
{
    display: flex;
}

.card-header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#uparrow, #downarrow, #deletePost {
    transition: 0.5s;
}
#uparrow:hover, #downarrow:hover, #deletePost:hover {
    transition: 0.5s;
    transform: scale(1.5);
}
.cardbutton {
    border: none;
    background: none;
}

#uparrow-v, #downarrow-v {
    transition: 0.5s;
}

#uparrow-v:hover, #downarrow-v:hover {
    transition: 0.5s;
    transform: scale(0.8);
}

.blockquote-footer::before {
    display: none;
    content: "— ";
}
.blockquote-footer {
    margin: 0;
}


.me-2:hover{
    transform: scale(1.4);
    transition: 1s;
}

.me-2 {
    transform: scale(1);
    transition: 1s;
}