.nav-item:hover {
    transform: translateY(-2px);
    transition: 0.5s;
}

.nav-item {
    transition: 0.5s;
}

.post {
    margin-bottom: 2rem;
}

.post:hover {
    cursor: pointer;
    .post-body {
        transition: 0.5s;
        background-color:rgba(77, 201, 153, 0.3);
    }
}

.card-body {
    transition: 0.5s;
}

.vote
{
    width: 15px;
    float: left; clear: left;
}

.vote img
{
    display: block;
    float: none; clear: both;
}