<div class="vote" th:fragment="voteFragment">
        <form class="vote" th:action="@{/vote}" th:method="put">
            <input type="hidden" name="postId" th:value="${post.id}">

            <div style="display:flex;" th:if="${!isLoggedIn}">
                <button class="arrowbutton" type="submit" name="vote" value="1"><img id="uparrow" src="up-arrow.svg" alt="^" title="vote up"></button>
                <button class="arrowbutton" type="submit" name="vote" value="-1"><img id="downarrow" src="down-arrow.svg" alt="v" title="vote down"></button>
            </div>

            <div style="display:flex;" th:unless="${!isLoggedIn}">
                <div style="display:flex;" th:if="${user.getPostVoteValue(post) == 1}">
                    <button class="arrowbutton" type="submit" name="vote" value="1"><img id="uparrow" src="up-arrow-v.svg" alt="^" title="vote up"></button>
                    <button class="arrowbutton" type="submit" name="vote" value="-1"><img id="downarrow" src="down-arrow-d.svg" alt="v" title="vote down"></button>
                </div>

                <div style="display:flex;" th:if="${user.getPostVoteValue(post) == 0}">
                    <button class="arrowbutton" type="submit" name="vote" value="1"><img id="uparrow" src="up-arrow.svg" alt="^" title="vote up"></button>
                    <button class="arrowbutton" type="submit" name="vote" value="-1"><img id="downarrow" src="down-arrow.svg" alt="v" title="vote down"></button>
                </div>

                <div style="display:flex;" th:if="${user.getPostVoteValue(post) == -1}">
                    <button class="arrowbutton" type="submit" name="vote" value="1"><img id="uparrow" src="up-arrow-d.svg" alt="^" title="vote up"></button>
                    <button class="arrowbutton" type="submit" name="vote" value="-1"><img id="downarrow" src="down-arrow-v.svg" alt="v" title="vote down"></button>
                </div>

            </div>
        </form>
</div>

<nav class="py-2 bg-body-tertiary border-bottom" th:fragment="navFragment">
    <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
            <li class="nav-item"><a th:href="@{/}" class="nav-link link-body-emphasis px-2 active" aria-current="page">Home</a></li>
            <li class="nav-item"><a th:href="@{/posts/add}" class="nav-link link-body-emphasis px-2">Add a new post</a></li>
        </ul>
        <ul th:if="${isLoggedIn}"class="nav">
            <li class="nav-item"><a th:href="@{/logout}" class="nav-link link-body-emphasis px-2">Logout</a></li>
        </ul>
        <ul th:unless="${isLoggedIn}" class="nav">
            <li class="nav-item"><a th:href="@{/login}" class="nav-link link-body-emphasis px-2">Login</a></li>
            <li class="nav-item"><a href="#" class="nav-link link-body-emphasis px-2">Sign up</a></li>
        </ul>
    </div>
</nav>

<header class="py-3 mb-4 border-bottom" th:fragment="headerFragment">
    <div class="container d-flex flex-wrap justify-content-center">
        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
            <img class="bi me-2" width="50" height="50" src="greenfox.png" alt="">
            <span class="fs-2">Foxxit</span>
        </a>
        <form style="margin-top: 7px" class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
            <input th:if="${searched != null}" name="searched" th:value="${searched}" type="search" class="form-control" placeholder="Search..." aria-label="Search">
            <input th:unless="${searched != null}" name="searched" type="search" class="form-control" placeholder="Search..." aria-label="Search">
        </form>
    </div>
</header>